.quicksand {
    font-family: "Quicksand", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }
  /* shared styles */
  .display-flex{
    display: flex;
  }
  .black{
    color: #111111;
  }
  body{
    max-width: 1135px;
    margin: 0 auto;
  }
  /* background styles */
  .background{
    background-image: url(../assets/bg.png);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
 
  }
/* Nav styles */
.banner{
  align-items: center;
  justify-content: space-between;
  margin-top: 35px;
  
}
.icon{
  max-width:50px; 
  height: 60px;

}
.menu-icon{
  display: none;
}
.banner-title{
  font-size: 1.8rem;
  font-weight: bold;
}
.banner-content{
  gap: 10px;
  align-items: center;
  width: 100%;
}
.nav-item{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  font-size: 1.25rem;
}
#first{
  color: rgba(254, 163, 1, 1);
}
#second{
  color: rgba(1, 172, 253, 1);
}
#third{
  color: rgba(5, 212, 223, 1);
}
#fourth{
  color: rgba(93, 88, 239, 1);
  margin-right: 184px;
}
.nav-btn{
  border: 0;
  border-radius: 12px;
  background-color: rgba(254, 163, 1, 1);
  color: white;
  font-weight: 600;
  font-size: 1.25rem;
  padding: 10px 55px;
  max-width: 195px;
  height: 50px;
}
.nav-links{
  gap: 30px;

}
.banner-main{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
}
.banner-int{
  font-weight: bold;
  font-size: 3rem;
  line-height: 60px;
  margin-bottom: 20px;
}
.empower{
  color:  rgba(254, 163, 1, 1);
}
.vision{
  color: rgba(1, 172, 253, 1);
}
.banner-details{
  font-size: .8rem;
  margin-bottom: 20px;

}
.en-btn{
  border: 0;
  border-radius: 12px;
  background-color: #111111;
  color: white;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 10px 40px;
  max-width: 190px;
  height: 50px;
}
.ban-img{
  max-width: 463px;
  height: 500px;
  margin-left: 200px;
}
.banner-left{
  max-width: 600px;
  margin-top: 60px;
}

.main-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 28px;
}
.card-title{
  text-align: center;
  margin-top: 60px;
  margin-bottom: 80px;
  font-weight: bold;
  font-size: 2.8rem;
}
.box{
  border-radius: 18.86px;
  max-width: 363px;
  height: 420px;
}
.card-titles{
  font-weight: bold;
  font-size: 1.5rem;
  color: #111111;
}
.card-detail{
  font-weight: 500;
  font-size: .8rem;
  color: rgba(128, 128, 128, 1);
}
#p-1{
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(100, 200, 255, 1);
}
#p-2{
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(240, 170, 0, 1);
}
#p-3{
  font-weight: bold;
  font-size: 0.9rem;
  color: rgba(135, 0, 255, 1);
}
#one{
  background: linear-gradient(to bottom, #DEF5FF, rgba(255, 255, 255, 0) );
  box-shadow: 0px 0px 1.5px 0.1px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#two{
 background: linear-gradient(to bottom, #FFF4DC , rgba(255, 255, 255, 0) 40%);
 box-shadow: 0px 0px 1.5px 0.1px;
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
#three{
background: linear-gradient(to bottom, #EEE1FF, rgba(255, 255, 255, 0));
box-shadow: 0px 0px 1.5px 0.1px;
display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.arrow{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 80px;
  gap: 10px;
}
.left{
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #FEA301;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
.right{
  border-radius: 30px;
  width: 60px;
  height: 60px;
  background-color: #FEA301;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  color: white;
}
/* Responsive for mobile devices */
@media screen and (max-width:576px){
  .banner-title,
  .nav-links,
  .nav-btn,
  .arrow{
    display: none;
  }
  .banner-main{
   display:flex;
   flex-direction: column-reverse;
   text-align: center;

  
  }
 .ban-img{
  margin: 0 auto;
 }
 .menu-icon{
  display: inline-block;
  margin: 0;

 }

 .banner-content{

 display: flex;
 justify-content: space-between;
 margin: 10px 0px;
 border: 1px solid #FEA301;
 max-width: 100%;
  border: 1px solid #FEA301;
  max-width: 100%;
  padding: 10px;
 }
 .main-card{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-left: 25px;
 }
 .card-title{
  text-align: center;
  font-size: 2rem;
 }
}
    
    
